@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f6f3;
  --foreground: #333333;
  --primary: #6a0dad; /* Deep Purple */
  --darkPrimary: #4b086b; /* Dark Purple */
  --lightPrimary: #c199d9; /* Light Purple */
  --veryLightPrimary: #e7d8f1; /* Very light version for hover */
  --chatInput: #e9e7de;
  --userChatInput: #eae6de;
  --charcoal: #6d6d6d;
  --darkBg: #e8e6dd;
  --lightBg: #f2f1eb;
  --darkCharcoal: #4d4d4d;
  --hoverBg: #d0cec0;
  --numbersBg: #b3b3b3;
  --darkYellow: #facc14;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Figtree, Arial, Helvetica, sans-serif;
}

.markdown > * {
  all: revert;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.blinking-cursor {
  display: inline-block;
  width: 10px; /* Adjust width as needed */
  height: 20px; /* Adjust height as needed */
  background-color: black; /* Cursor color */
  animation: blink 1s step-end infinite;
}

[contenteditable="true"]:empty:before {
  content: attr(data-placeholder);
  display: block;
  color: #9ca3af;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
